//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

// variables
$pm-col: #090F29;
$sec-col: #5AFEA5;
$sec-col-dark: #dfdfdf;
$wh-col: #fff;
$tx-cl: #333333;
$clr-1: #4f4f4f;
$clr-2: #3f3f3f;




// mixin
@mixin tombol{
    display: inline-block;
    color: $pm-col;
    background-color: $sec-col;
    padding: 0.6em 2.5em;
    border-radius: 0.2em;
    text-decoration: none;
    margin-right: 0.9em;

    
}
@mixin tombol-out{
    display: inline-block;
    color: $sec-col;
    border: 1px solid $sec-col;
    padding: 0.6em 2.5em;
    border-radius: 0.2em;
    text-decoration: none;
    margin-right: 0.9em;
}

// styles
body{
    font-family: 'Montserrat', sans-serif;
    // background-image: url(/img/bg-sc1.png) !important;
    /* Full height */
     height: 100% !important; 
     width: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    // background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position:50% -12% !important;
    scroll-behavior: smooth;
    // background-color: #fff !important;
}

//Navbar
.navbar{
    font-size: 1rem;
    font-weight: 500;
    
    a{
        color: $sec-col-dark;

        &:hover{
            color: $clr-2;
        }
    }

    .nav-item{
        margin-left: 2.2em;
    }

    .navbar-collapse{
        text-align: right;
        justify-content: left;
    }
    .navbar-brand{
        display: contents !important; 
     }
}


//Footer
footer.footer-area{
    background-color: $sec-col-dark;
    
    ul {
        padding:0;
        margin:0
       }
       li {
        list-style:none
       }
       a:focus,a:hover {
        text-decoration:none;
        -webkit-transition:.3s ease;
        -o-transition:.3s ease;
        transition:.3s ease
       }
       a:focus {
        outline:0
       }
       img {
        max-width:100%
       }
       p {
        font-size:16px;
        line-height:30px;
        color: $wh-col;
        font-weight:300
       }
       h4 {
        font-family:Rubik,sans-serif;
        margin:0;
        font-weight:400;
        padding:0;
        color: $wh-col;
       }
       a {
        color:#5867dd
       }
       .no-padding {
        padding:0!important
       }
       .go_top {
        line-height:40px;
        cursor:pointer;
        width:40px;
        background:#5867dd;
        color:#fff;
        position:fixed;
        -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
        box-shadow:0 4px 4px rgba(0,0,0,.1);
        -webkit-border-radius:50%;
        border-radius:50%;
        right:-webkit-calc((100% - 1140px)/ 2);
        right:calc((100% - 1140px)/ 2);
        z-index:111;
        bottom:80px;
        text-align:center
       }
       .go_top span {
        display:inline-block
       }
       .footer-big {
        padding:105px 0 65px 0
       }
       .footer-big .footer-widget {
        margin-bottom:40px
       }
       .footer--light {
        background:#e7e8ed
       }
       .footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
        color:$wh-col
       }
       .footer-menu {
        padding-left:48px
       }
       .footer-menu ul li a {
        font-size:15px;
        line-height:32px;
        -webkit-transition:.3s;
        -o-transition:.3s;
        transition:.3s
       }
       .footer-menu ul li a:hover {
        color:#5867dd
       }
       .footer-menu--1 {
        width:100%
       }
       .footer-widget-title {
        line-height:42px;
        margin-bottom:10px;
        font-size:18px
       }
       .mini-footer {
        background:#192027;
        text-align:center;
        padding:32px 0
       }
       .mini-footer p {
        margin:0;
        line-height:26px;
        font-size:15px;
        color:#999
       }
       .mini-footer p a {
        color: $clr-2
       }
       .mini-footer p a:hover {
        color:#34bfa3
       }
       .widget-about img {
        display:block;
        margin-bottom:30px
       }
       .widget-about p {
        font-weight:400
       }
       .widget-about .contact-details {
        margin:30px 0 0 0
       }
       .widget-about .contact-details li {
        margin-bottom:10px
       }
       .widget-about .contact-details li:last-child {
        margin-bottom:0
       }
       .widget-about .contact-details li span {
        padding-right:12px
       }
       .widget-about .contact-details li a {
        color:$clr-2
       }
       @media (max-width:991px) {
        .footer-menu {
         padding-left:0
        }
       }
}


@media (max-width: 767.98px) { 
    
}