@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,400&family=Poppins:wght@400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

.btn-link-custom {
  color: #0F4C75;
  padding: unset;
}
.btn-link-custom:hover {
  color: #042032;
  text-decoration: unset;
}

.header-bold {
  font-size: 120px;
  font-weight: 600;
  color: #0F4C75;
  outline: none;
  background: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGV4azRzdDV1cXczODZjd3pvZXAwZm5mNGQ5Zm9kdzNibmxpeWlpcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3q3SUqPnxZGQpMNcjc/giphy.gif);
  background-size: contain;
  background-position: top left;
  -webkit-background-clip: text;
  color: transparent;
}

.ct-header {
  font-size: 64px;
  font-weight: 500;
}

.ct {
  font-weight: 500;
  font-size: 24px;
  color: #333333;
  letter-spacing: 1.5%;
  line-height: 34px;
}

.ct-pm {
  font-weight: 500;
  font-size: 24px;
  color: #0F4C75;
  letter-spacing: 1.5%;
  line-height: 34px;
}

.ct-caption {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #A6A6A6;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: #042032;
}

.mr-bt-8 {
  margin-bottom: 8px;
}

.mr-bt-16 {
  margin-bottom: 16px;
}

.mr-bt-24 {
  margin-bottom: 24px;
}

.mr-bt-32 {
  margin-bottom: 32px;
}

.mr-tp-8 {
  margin-top: 8px;
}

.mr-tp-32 {
  margin-top: 32px;
}

.mr-tp-64 {
  margin-top: 64px;
}

.mr-rg-16 {
  margin-right: 16px;
}

.im-project {
  border: unset;
}

.br-rad-8 {
  border-radius: 8px;
}

.bg-port-1:hover {
  background-color: #EFFFFC;
}

.bg-port-2:hover {
  background-color: #FFF2C5;
}

.bg-port-3:hover {
  background-color: #edfff8;
}

.bg-port-4:hover {
  background-color: #edfff8;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.wrap-bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.image-bg-home {
  background-image: url(/img/circle.svg);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
  width: 50vh;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: auto;
  animation: loader 24s linear infinite;
  position: absolute;
}

.gradient2 {
  font-size: 18px;
  font-weight: 500;
  color: #042032;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gradient {
  opacity: 70%;
  --size: 250px;
  left: -20%;
  --speed: 20s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  position: absolute;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 4));
  background-image: linear-gradient(hsla(158, 79%, 57%, 0.85), hsl(218, 62%, 55%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
    left: 20%;
  }
}
#mouse-scroll {
  style: block;
}

#mouse-scroll {
  position: absolute;
  margin-top: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
}

#mouse-scroll span {
  display: block;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #0F4C75;
  border-bottom: 2px solid #0F4C75;
  margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  transform: none;
  border: 2px solid #0F4C75;
  top: 170px;
}

#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}

#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

#mouse-croll .down-arrow-1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-dekay: 0.3s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #0F4C75;
  position: relative;
}

#mouse-scroll .mouse-in {
  -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* This is just to transition when you change the viewport size. */
* {
  transition: all 0.25s ease-out;
}

.navbar {
  font-size: 1rem;
  font-weight: 500;
}
.navbar a {
  color: #666666;
}
.navbar a:hover {
  color: #0F4C75;
}
.navbar .nav-item {
  margin-left: 2.2em;
}
.navbar .navbar-collapse {
  text-align: right;
  justify-content: left;
}
.navbar .navbar-brand {
  display: contents !important;
}

.bg-sc1 {
  margin-bottom: 250px;
}

.section-1 {
  margin-top: 125px;
}
.section-1 .title {
  font-size: 18px;
  font-weight: 500;
}
.section-1 .content {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  letter-spacing: 1.5%;
  line-height: 34px;
}
.section-1 .rect-icon-linkedin {
  color: #fff;
  background-color: #0F4C75;
  border: unset;
  transition: 0.2s ease-in-out 0s;
  margin-left: 8px;
  margin-right: 0px;
  font-size: 32px;
  text-decoration: unset;
  text-decoration: none;
  margin-left: 0px;
}
.section-1 .rect-icon-linkedin:hover {
  color: #fff;
  background-color: #0F4C75;
  border: unset;
  transition: 0.2s ease-in-out 0s;
  margin-left: 8px;
  margin-right: 0px;
  font-size: 32px;
  text-decoration: unset;
  text-decoration: none;
  color: #0e76a8;
  background-color: #e6f5ff;
  transform: scale(1.2);
}
.section-1 .rect-icon-wa {
  color: #fff;
  background-color: #0F4C75;
  border: unset;
  transition: 0.2s ease-in-out 0s;
  margin-left: 8px;
  margin-right: 0px;
  font-size: 32px;
  text-decoration: unset;
  text-decoration: none;
}
.section-1 .rect-icon-wa:hover {
  color: #fff;
  background-color: #0F4C75;
  border: unset;
  transition: 0.2s ease-in-out 0s;
  margin-left: 8px;
  margin-right: 0px;
  font-size: 32px;
  text-decoration: unset;
  text-decoration: none;
  color: #128c7e;
  background-color: #e6f5ff;
  transform: scale(1.2);
}
.section-1 .rect-icon-db {
  color: #fff;
  background-color: #0F4C75;
  border: unset;
  transition: 0.2s ease-in-out 0s;
  margin-left: 8px;
  margin-right: 0px;
  font-size: 32px;
  text-decoration: unset;
  text-decoration: none;
}
.section-1 .rect-icon-db:hover {
  color: #fff;
  background-color: #0F4C75;
  border: unset;
  transition: 0.2s ease-in-out 0s;
  margin-left: 8px;
  margin-right: 0px;
  font-size: 32px;
  text-decoration: unset;
  text-decoration: none;
  color: #ea4c89;
  background-color: #e6f5ff;
  transform: scale(1.2);
}

.sc-card {
  padding-top: 68px;
  padding-bottom: 24px;
}

.card {
  height: 300px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #D9E9F6;
  transition: transform 0.2s;
  margin-bottom: 40px;
}

.link-anim {
  position: absolute;
  bottom: 0px;
  left: 5%;
  opacity: 0;
  transition: 0.2s;
  transform: scale(0);
  transition-timing-function: ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
  border: unset;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.card:hover .link-anim {
  bottom: 20px;
  left: 5%;
  transform: scale(1);
  opacity: 1;
}

.card-image-1 {
  background-image: url(/img/meditime1.png);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.card-image-2 {
  background-image: url(/img/Perlu.png);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.card-image-3 {
  background-image: url(/img/StudyCase/Create-hidden.png);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.card-image-4 {
  background-image: url(/img/StudyCase/nutri.png);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.card-img-overlay {
  padding-right: 50%;
  padding-top: 5%;
  padding-left: 5%;
}

.img-thumbnail {
  background-color: unset;
  border-color: unset;
  border: unset;
  height: 100px;
}

.sc-2 {
  padding-top: 68px;
  padding-bottom: 100px;
}
.sc-2 .title-sc2 {
  margin-bottom: 32px;
}
.sc-2 .box-project {
  margin: 8px 0px;
  padding: 16px 0px;
  background-color: #F5F5F5;
  border-radius: 6px;
}
.sc-2 .link-action {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 500;
  color: #0F4C75 !important;
  transition: 0.2s ease-in-out 0s;
}
.sc-2 .link-action a {
  color: #0F4C75 !important;
}
.sc-2 .link-action:hover {
  transform: scale(1.05);
  margin-left: 12px;
}

.sc-3 {
  background-color: #DFFFDE;
  padding: 84px 0 0 0;
}

.sc-4 {
  padding: 16px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.explr-1 {
  background-color: #D4EAFF;
}

.card-contact {
  background-color: #C2E4FF;
  padding: 16px;
}

footer.footer-area {
  background-color: #0F4C75;
}
footer.footer-area ul {
  padding: 0;
  margin: 0;
}
footer.footer-area li {
  list-style: none;
}
footer.footer-area a:focus, footer.footer-area a:hover {
  text-decoration: none;
  transition: 0.3s ease;
}
footer.footer-area a:focus {
  outline: 0;
}
footer.footer-area img {
  max-width: 100%;
}
footer.footer-area p {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
}
footer.footer-area h4 {
  font-family: Rubik, sans-serif;
  margin: 0;
  font-weight: 400;
  padding: 0;
  color: #fff;
}
footer.footer-area a {
  color: #5867dd;
}
footer.footer-area .no-padding {
  padding: 0 !important;
}
footer.footer-area .go_top {
  line-height: 40px;
  cursor: pointer;
  width: 40px;
  background: #5867dd;
  color: #fff;
  position: fixed;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: calc((100% - 1140px) / 2);
  z-index: 111;
  bottom: 80px;
  text-align: center;
}
footer.footer-area .go_top span {
  display: inline-block;
}
footer.footer-area .footer-big {
  padding: 105px 0 65px 0;
}
footer.footer-area .footer-big .footer-widget {
  margin-bottom: 40px;
}
footer.footer-area .footer--light {
  background: #e7e8ed;
}
footer.footer-area .footer-big .footer-menu ul li a, footer.footer-area .footer-big p, footer.footer-area .footer-big ul li {
  color: #fff;
}
footer.footer-area .footer-menu {
  padding-left: 48px;
}
footer.footer-area .footer-menu ul li a {
  font-size: 15px;
  line-height: 32px;
  transition: 0.3s;
}
footer.footer-area .footer-menu ul li a:hover {
  color: #5867dd;
}
footer.footer-area .footer-menu--1 {
  width: 100%;
}
footer.footer-area .footer-widget-title {
  line-height: 42px;
  margin-bottom: 10px;
  font-size: 18px;
}
footer.footer-area .mini-footer {
  background: #192027;
  text-align: center;
  padding: 32px 0;
}
footer.footer-area .mini-footer p {
  margin: 0;
  line-height: 26px;
  font-size: 15px;
  color: #999;
}
footer.footer-area .mini-footer p a {
  color: #fff;
}
footer.footer-area .mini-footer p a:hover {
  color: #34bfa3;
}
footer.footer-area .widget-about img {
  display: block;
  margin-bottom: 30px;
}
footer.footer-area .widget-about p {
  font-weight: 400;
}
footer.footer-area .widget-about .contact-details {
  margin: 30px 0 0 0;
}
footer.footer-area .widget-about .contact-details li {
  margin-bottom: 10px;
}
footer.footer-area .widget-about .contact-details li:last-child {
  margin-bottom: 0;
}
footer.footer-area .widget-about .contact-details li span {
  padding-right: 12px;
}
footer.footer-area .widget-about .contact-details li a {
  color: #fff;
}
@media (max-width: 991px) {
  footer.footer-area .footer-menu {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .header-bold {
    font-size: 80px;
  }
}
@media only screen and (max-width: 991px) {
  .sc-3 {
    padding: 32px 0 0 0;
  }
  .sc-4 {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}
@media (max-width: 767.98px) {
  .btn-link-custom {
    font-size: 14px;
  }
  #mouse-scroll {
    margin-top: 40px;
  }
  .bg-sc1 {
    margin-bottom: 80px;
  }
  .header-bold {
    font-size: 80px;
  }
  .ct {
    font-weight: 500;
    font-size: 24px;
    color: #333333;
    letter-spacing: 1.5%;
    line-height: 34px;
  }
  .ct-caption {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #A6A6A6;
  }
  .section-1 {
    margin-top: 40px;
  }
  .section-1 .title {
    font-size: 16px;
    font-weight: 400;
  }
  .section-1 .content {
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    letter-spacing: 1.5%;
    line-height: 34px;
  }
  .section-1 .rect-icon-linkedin {
    color: #fff;
    background-color: #0F4C75;
    border: unset;
    transition: 0.2s ease-in-out 0s;
    margin-left: 8px;
    margin-right: 0px;
    font-size: 24px;
    text-decoration: unset;
    text-decoration: none;
    margin-left: 0px;
  }
  .section-1 .rect-icon-linkedin:hover {
    color: #fff;
    background-color: #0F4C75;
    border: unset;
    transition: 0.2s ease-in-out 0s;
    margin-left: 8px;
    margin-right: 0px;
    font-size: 24px;
    text-decoration: unset;
    text-decoration: none;
    color: #0e76a8;
    background-color: #e6f5ff;
    transform: scale(1.2);
  }
  .section-1 .rect-icon-wa {
    color: #fff;
    background-color: #0F4C75;
    border: unset;
    transition: 0.2s ease-in-out 0s;
    margin-left: 8px;
    margin-right: 0px;
    font-size: 24px;
    text-decoration: unset;
    text-decoration: none;
  }
  .section-1 .rect-icon-wa:hover {
    color: #fff;
    background-color: #0F4C75;
    border: unset;
    transition: 0.2s ease-in-out 0s;
    margin-left: 8px;
    margin-right: 0px;
    font-size: 24px;
    text-decoration: unset;
    text-decoration: none;
    color: #128c7e;
    background-color: #e6f5ff;
    transform: scale(1.2);
  }
  .section-1 .rect-icon-db {
    color: #fff;
    background-color: #0F4C75;
    border: unset;
    transition: 0.2s ease-in-out 0s;
    margin-left: 8px;
    margin-right: 0px;
    font-size: 24px;
    text-decoration: unset;
    text-decoration: none;
  }
  .section-1 .rect-icon-db:hover {
    color: #fff;
    background-color: #0F4C75;
    border: unset;
    transition: 0.2s ease-in-out 0s;
    margin-left: 8px;
    margin-right: 0px;
    font-size: 24px;
    text-decoration: unset;
    text-decoration: none;
    color: #ea4c89;
    background-color: #e6f5ff;
    transform: scale(1.2);
  }
  .sc-2 {
    padding-top: 24px;
    padding-bottom: 80px;
  }
  .sc-2 .title-sc2 {
    margin-bottom: 8px;
  }
  .sc-2 .box-project {
    margin-bottom: 24px;
    margin-top: 24px;
  }
  .sc-2 .link-action {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #0F4C75 !important;
    transition: 0.2s ease-in-out 0s;
  }
  .sc-2 .link-action a {
    color: #0F4C75 !important;
  }
  .sc-2 .link-action:hover {
    transform: scale(1.05);
    margin-left: 12px;
  }
  .card {
    height: 450px;
  }
  .link-anim {
    margin-top: 20px;
    opacity: 1;
    transition: 0.5s;
    transform: unset;
    transition-timing-function: unset;
    position: absolute;
    bottom: 8px;
    right: 8px;
    left: unset;
  }
  .card:hover {
    transform: unset;
    cursor: pointer;
  }
  .card:hover .link-anim {
    transform: scale(1.2);
    position: absolute;
    bottom: 8px;
    right: 8px;
    left: unset;
  }
  .card-image {
    background-position: bottom center;
  }
  .img-thumbnail {
    height: 30%;
  }
  .card-img-overlay {
    padding: 1.25rem;
  }
  .sc-3 {
    padding: 32px 0 0 0;
  }
}/*# sourceMappingURL=main.css.map */